
.PostRow {
    padding: 8px;
    padding-bottom: 0px;
    border: 1px black;
   /* scroll-snap-align: start;*/
}

.PostContainer {
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.PostContainer .cmdIcon {
    display: none;
}

.PostContainer:hover .cmdIcon {
    display: block;
}

.PostLayout {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 8px;
    border: 1px black;
}

.Post {
    display: grid;
    grid-template-rows: 30px auto;
}

.PostTitle {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    font-size: large;
}

.PostCategory {
    color: dodgerblue !important;
    font-weight: bold;
}

.PostCreation {
    color: rgb(171, 171, 171);
    font-size: small;
}

.PostCommandPanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

.PostdeleteForm {
    margin: 20px;
}

.PostImage {
    text-align: left;
}

.paragraphe {
    width: 50%;
}